.post-grid-item {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    width: 100%;
    border: 1px solid transparent;
    background-color: #0008;
    color: white;
    font-family: "Chakra Petch", sans-serif;
    padding: 4px;
}

.post-thumbnail-loader {
    position: relative;
}

.post-grid-item:hover,
.post-grid-item:focus-visible {
    background-color: white;
    color: black;
    transition: 0.2s;
}

.post-thumbnail-wrapper {
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.post-thumbnail-wrapper img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.post-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 800;
    font-size: 16px;
    width: 100%;
    padding-top: 4px;

    @supports (-webkit-line-clamp: 2) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}
