.gallery-preview-card {
    width: 180px;
    height: 180px;
}

.gallery-preview-card-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: 0.2s;
}

.gallery-preview-card-title {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    height: 0px;
    overflow: hidden;
    transition: 0.2s;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.gallery-preview-card:hover .gallery-preview-card-img {
    height: 160px;
}

.gallery-preview-card:hover .gallery-preview-card-title {
    height: 20px;
}
