.character-preview {
    display: flex;
    width: calc(33% - 8px);
}

.character-thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: scale-down;
    overflow: hidden;
    max-height: 300px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
}

@media (width <= 700px) {
    .character-preview {
        width: 100%;
    }
}
