.section {
    display: flex;
    flex-direction: column;
    background: #000a;
    /* 48 for page border, + 32 for section padding + 2 for border = 82px */
    width: calc(100vw - 82px);
    height: fit-content;
    max-width: 800px;
    color: #fff;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
}

.section-title {
    font-weight: 600;
    font-size: 32px;
}
